
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    {{{module type="seo" name="seo"}}}

    {{{enqueue files="/common/less/normalize.css"  queue="styles"}}}
    {{{enqueue files="/common/less/bootstrap.less" queue="styles"}}}
    {{{enqueue files="/common/less/main.less"      queue="styles"}}}
    {{{process_queue queue="styles"}}}
    
    {{process_queue queue="hscripts" files="/js/vendor/modernizr-2.6.2.min.js, /js/vendor/analytics.js"}}
  </head>
  <body>
    <!--[if lt IE 8]>
        <p class="browsehappy">{{i18n.errors.updateBrowser}}</p>
    <![endif]-->

    <div id="contentWrapper">

      {{{module type="page_heading" name="heading"}}}
      {{{module options="article, multi_column_content" name="content"}}}
      {{{module type="button" name="content_button"}}}

      {{{include file="/static.html"}}}
    </div>
    
    {{{enqueue files="/common/js/vendor/jquery.min.js" queue="scripts"}}}
    {{{enqueue files="/common/js/vendor/bootstrap.min.js" queue="scripts"}}}
    {{{process_queue queue="scripts"}}}


    {{template}}
  </body>
</html>
